body {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.attribution {
  position: absolute;
  bottom: 0;
  text-align: center;
}